In [1]:
import psycopg2
import pandas as pd
import hidden

In [3]:
sql_string = hidden.psycopg2(hidden.secrets())
print('PostgreSQL connection data taken from hidden.py')

# Make the connection and cursor
conn = psycopg2.connect(sql_string, connect_timeout=3)

PostgreSQL connection data taken from hidden.py

In [6]:
pd.read_sql_query('''SELECT * FROM pairs''', conn)

   id   symbol coin1 coin2
0   0   ETHBTC   ETH   BTC
1   1  BTCUSDT   BTC  USDT
2   2  ETHUSDT   ETH  USDT
3  -1   BTCETH   BTC   ETH
4  -2  USDTBTC  USDT   BTC
5  -3  USDTETH  USDT   ETH

In [19]:
cur = conn.cursor()
cur.execute('''delete from candlestick_15m where open_time < '2017-01-01'
            ''')
conn.commit()

In [25]:
cur = conn.cursor()
cur.execute('''delete from features where candle_open_time < '2017-01-01'
            ''')
conn.commit()

In [29]:
pd.read_sql_query('''SELECT count(*) FROM candlestick_15m
                  ''', conn)

    count
0  832211

In [22]:
pd.read_sql_query('''SELECT min(open_time) min_open, max(open_time) max_open FROM candlestick_15m WHERE pair_id = 0
                  ''', conn)

             min_open            max_open
0 2017-07-14 04:00:00 2021-07-26 01:30:00

In [16]:
pd.read_sql_query('''SELECT count(*) from candlestick_15m where pair_id = 0
                  ''', conn)

    count
0  140916

In [6]:
sql = """
SELECT count(*)
    --cs.*
FROM candlestick_15m cs
INNER JOIN pairs p
    ON p.id = cs.pair_id
WHERE p.symbol LIKE 'ETHBTC'
-- ORDER BY cs.open_time desc
-- LIMIT 1
"""
df = pd.read_sql_query(sql, conn)
df

    count
0  138614

In [7]:
sql = """
SELECT cs.*
FROM candlestick_15m cs
INNER JOIN pairs p
    ON p.id = cs.pair_id
WHERE p.symbol LIKE 'ETHBTC'
ORDER BY cs.open_time desc
"""
df = pd.read_sql_query(sql, conn)
df

,pair_id,open_time,open,high,low,close,volume,close_time,quote_asset_volume,number_of_trades,taker_buy_base_asset_volume,taker_buy_quote_asset_volume,created_at,updated_at
0,0,2021-07-02 04:00:00,0.062028,0.062098,0.061952,0.062070,1109.910,NaT,68.858576,1528,499.305,30.978440,2021-07-02 04:00:21.599261+00:00,2021-07-02 04:10:21.669405+00:00
1,0,2021-07-02 03:45:00,0.062334,0.062367,0.061986,0.062038,2196.710,2021-07-02 03:59:59.000,136.456879,3911,1281.412,79.591470,2021-07-02 03:45:21.613905+00:00,2021-07-02 04:00:21.599261+00:00
2,0,2021-07-02 03:30:00,0.062785,0.062785,0.062267,0.062326,2269.186,2021-07-02 03:44:59.000,141.858378,4303,1050.212,65.659002,2021-07-02 03:30:21.555569+00:00,2021-07-02 03:45:21.613905+00:00
3,0,2021-07-02 03:15:00,0.063087,0.063201,0.062751,0.062783,1650.940,2021-07-02 03:29:59.000,104.022572,2608,746.156,47.023885,2021-07-02 03:15:33.157623+00:00,2021-07-02 03:30:21.555569+00:00
4,0,2021-07-02 03:00:00,0.062944,0.063175,0.062896,0.063087,1210.511,2021-07-02 03:14:59.000,76.283867,1829,715.191,45.064299,2021-07-02 03:00:12.340782+00:00,2021-07-02 03:15:33.157623+00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
138609,0,2017-07-14 05:00:00,0.085874,0.086205,0.084608,0.084680,16.520,2017-07-14 05:14:59.999,1.404228,15,1.176,0.100914,2021-06-30 14:24:31.900306+00:00,2021-07-01 10:57:33.052002+00:00
138610,0,2017-07-14 04:45:00,0.086314,0.086380,0.086309,0.086347,42.818,2017-07-14 04:59:59.999,3.697253,61,7.948,0.686295,2021-06-30 14:24:31.900306+00:00,2021-07-01 10:57:33.052002+00:00
138611,0,2017-07-14 04:30:00,0.085811,0.086380,0.085811,0.086314,53.769,2017-07-14 04:44:59.999,4.631740,41,21.225,1.829643,2021-06-30 14:24:31.900306+00:00,2021-07-01 10:57:33.052002+00:00
138612,0,2017-07-14 04:15:00,0.085289,0.086000,0.085128,0.085811,61.042,2017-07-14 04:29:59.999,5.217079,33,2.738,0.235027,2021-06-30 14:24:31.900306+00:00,2021-07-01 10:57:33.052002+00:00
138613,0,2017-07-14 04:00:00,0.080000,0.086400,0.080000,0.086400,8.752,2017-07-14 04:14:59.999,0.728274,26,3.268,0.282355,2021-06-30 14:24:31.900306+00:00,2021-07-01 11:09:34.291214+00:00

In [8]:
import datetime
timestamp = datetime.datetime.now().strftime('%y%m%d%H%M')
timestamp

'2107021313'

In [9]:
df.to_pickle(f'../data/candlestick_15m_ETHBTC_{timestamp}.pkl')